body {
    font-family: Arial, sans-serif;
    background-color: #F0FFCE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #CCC9A1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #A53F2B;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4C230A;
    color: #F0FFCE;
    cursor: pointer;
}

button:hover {
    background-color: #280004;
}

h2 {
    text-align: center;
    color: #280004;
}
