body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #1e1e24;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#nav_icons{
    margin-right: 2%;
}

/* Hero section */
#hero {
    text-align: center;
    padding: 100px 0;
    background-image: url('background.jpg'); /* Set your image path here */
    background-size: cover;
    background-position: center;
    color: #fff; 
}

#hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcf99;
    color: #1C3144;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    
}

.cta-button:hover {
    background-color: #5C80BC;
}

/* Features section */
#features {
    background-color: #fff;
    padding: 80px 0;
    background-color: #BFACAA;
    text-align: center;;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Pricing section */
#pricing {
    text-align: center;
    padding: 80px 0;
    background-color: #02020A;
}

.pricing-plan {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    margin: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.pricing-plan h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.pricing-plan p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.pricing-plan ul {
    list-style: none;
    padding: 0;
}

.pricing-plan li {
    font-size: 18px;
    margin: 10px 0;
}

#contact {
    background-color: #333;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

#contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#contact p {
    font-size: 18px;
    margin-bottom: 40px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

#logo{
    margin-left: 5%;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
}


